<h1 class="jumbotron"><span class="glyphicon glyphicon-search"></span>&nbsp; Event Manager</h1>
<div>
    <div class="index"><b>Artists</b></div>
        <br />
        <a asp-controller="Albums" class="btn btn-default btn-block"><b><big>My Albums</big></b></a>
        <a asp-controller="Albums" class="btn btn-default btn-block"><b><big>My Albums</big></b></a>
</div>
<br />
<div>
    <div class="index"><b>Users</b></div>
        <br />
        <a asp-controller="Albums" class="btn btn-default btn-block"><b><big>My Albums</big></b></a>
        <a asp-controller="Albums" class="btn btn-default btn-block"><b><big>My Albums</big></b></a>
</div>

